* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: relative;
    width: 976px;
    height: 576px;
    border: 1px solid black;
    margin: 0 auto;
}

.dino {
    width: 60px;
    height: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
}
.cactus {
    width: 60px;
    height: 60px;
    background-color: red;
    position: absolute;
    bottom: 0;
}